/**************************************************
Width 
**************************************************/
.bs_w10{
width:10%;
}
.bs_w20{
width:20%;
}
.bs_w30{
width:30%;	
}
.bs_w40{
width:40%;
}
.bs_w50{
width:50%;	
}
.bs_w60{
width:60%;
}
.bs_w70{
width:70%;
}
.bs_w80{
width:80%;
}
.bs_w90{
width:90%;
}
.bs_w100{
width:100%;
}
/**************************************************
Float
**************************************************/
.bs_left{
float:left;	
}
.bs_right{
float:right;	
}
.bs_clear{
clear: both;	
}
/**************************************************
Text
**************************************************/
.bs_textLeft{
text-align:left;
}
.bs_textCenter{
text-align:center;
}
.bs_textRight{
text-align:right;	
}
/**************************************************
Padding
**************************************************/
.bs_p5{
padding:5px;
}
.bs_p10{
padding:10px;
}
.bs_p15{
padding:15px;
}
.bs_p20{
padding:20px;
}
.bs_ph5{
padding-left:5px;
padding-right:5px;
}
.bs_ph10{
padding-left:10px;
padding-right:10px;
}
.bs_ph15{
padding-left:15px;
padding-right:15px;
}
.bs_ph20{
padding-left:20px;
padding-right:20px;
}
.bs_pv5{
padding-top:5px;
padding-bottom:5px;
}
.bs_pv10{
padding-top:10px;
padding-bottom:10px;
}
.bs_pv15{
padding-top:15px;
padding-bottom:15px;
}
.bs_pv20{
padding-top:20px;
padding-bottom:20px;
}
/**************************************************
Margin
**************************************************/
.bs_m5{
margin:5px;
}
.bs_m10{
margin:10px;
}
.bs_m15{
margin:15px;
}
.bs_m20{
margin:20px;
}
.bs_mh5{
margin-left:5px;
margin-right:5px;
}
.bs_mh10{
margin-left:10px;
margin-right:10px;
}
.bs_mh15{
margin-left:15px;
margin-right:15px;
}
.bs_mh20{
margin-left:20px;
margin-right:20px;
}
.bs_mv5{
margin-top:5px;
margin-bottom:5px;
}
.bs_mv10{
margin-top:10px;
margin-bottom:10px;
}
.bs_mv15{
margin-top:15px;
margin-bottom:15px;
}
.bs_mv20{
margin-top:20px;
margin-bottom:20px;
}